<script type="text/javascript">
  <% if logged_in %>
    window.currentUser = <%= render(
      "api/users/user.json.jbuilder",
      user: current_user
    ).html_safe %>
  <% end %>
</script>
<link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">

<main id="root">

</main>
