body {

  font-family: 'Freight Sans Bold', Helvetica, Arial, sans-serif ;
}

.login-header {
  width: 100%;
  background: #3b5998;
  color: white;
  font-family: 'Freight Sans Bold', Helvetica, Arial, sans-serif ;


}

.login-container {
  width: 980px;
  height: 60px;
  padding-top: 22px;
  margin: 0 auto;
}

.logo {
  font-size: 40px;
  font-weight: 600;
  float: left;
  margin-top: 10px;
}

.login-form {
  float: right;
  font-size: 12px;
}

.login-input-group {
  float: left;
}

.login-input-group .forgot {
  color: #9cb4d8;
}

.login-input-group input {
  display: block;
  margin-right: 15px;
  margin-top: 1px;
  margin-bottom: 5px;
  padding-bottom: 5px;
  border: 1px solid black;
  width: 142px;
  background: white;
  color: black;
}

.login-input-group label {
  display: block;
  margin-bottom: 5px;
}

.login-input-group .submitbtn {
  background: red;
  background: #4267b2;
  border: 1px solid #29487d;
  padding: 1px;
  margin-top: 17px;
}

.login-input-group {
  margin-right: 5px;
}

.login-input-group button {
  cursor:pointer;
  background: none;
  border: 0;
  color: white;

  font-size: 12px;
  padding: 3px;
}

.guestlogin-btn {
  cursor: pointer;
  background: #ffae42;
  padding: 4px 3px;
  font-size: 12px;
  margin-top: 17px;
  border: 1px solid #B2792E;
}

.invisible {
  opacity: 0;
}

.group:after {
  content: "";
  display: block;
  clear: both;
}

.login-errors {
  position: absolute;
  color: white;
}

@media only screen and (max-width: 980px) {
  .logo {
    font-size: 24px;
    font-weight: 500;
    margin-top: 15px;
  }

  .login-container {
    width: 600px;

  }
}
