.main-header {
  background: #3b5998;
  border-bottom: 1px solid #29487d;
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  font-family: 'Freight Sans Bold', Helvetica, Arial, sans-serif ;
  z-index: 1;
}

.main-header-container {
  width: 1012px;
  height: 42px;
  margin: 0 auto;
}

.searchbar-component {
  margin-top: 9px;
  float: left;
}

.header-logo {
  width: 24px;
  height: 24px;
  background: white;
  text-align: right;
  border-radius: 2px;

  font-size: 30px;
  font-weight: bold;
  color: #3b5998;
  float: left;
  margin-right: 5px;
}

.header-searchbar {
  float: left;
}

.header-searchbar input {
  font-size: 14px;
  padding: 3px 5px 4px 5px;
  width: 400px;
  border:0;
  border-radius: 3px;
  float: left;
  font-weight: lighter;
  background: white;
}
.header-searchbar input:focus {
   outline: none;
}

.header-searchbar button {
  background: #f6f7f9;
  width: 30px;
  border: none;
  margin-left: -5px;
  height: 23px;
  float: left;
  padding-left: 10px;
  border-bottom-right-radius: 3px;
  border-top-right-radius: 3px;
}

.header-searchbar button:hover {
  background: #4080FF;
}

.header-searchbar .material-icons {
  font-size: 20px;
}

.navigation-component {
  margin-top: 9px;
  float: right;
}

.navigation-text {
  font-size: 12px;
  margin-top: 7px;
  float: left;
  color: white;
}

.navigation-text a {
  text-decoration: none;
  color: white;
  padding: 6px;
  margin-left: 10px;
}

.navigation-text a:hover {
  text-decoration: none;
  background: #29487d;
  padding: 6px;

}

.navigation-text li {
  float: left;

}

.navigation-icons {
  float: left;
  padding-right: 10px;
  padding-left: 20px;
}

.navigation-icons li {
  float: left;
  color: #18243d;
  margin-right:5px;
}

.navigation-icons .material-icons {
  font-size: 24px;
}

.privacy-icons {
  float: left;
  padding-left: 10px;
  border-left: 1px solid #355089;
}

.privacy-icons li {
  float: left;
  color: #18243d;
}


@media only screen and (max-width: 1012px) {
  .main-header-container {
    width: 700px;
  }

  .header-searchbar input {
    width: 300px;
  }
}

@media only screen and (max-width: 700px) {
  .main-header-container {
    width: 100%;
  }

  .header-searchbar input {
    display: none;
  }

  .header-searchbar button {
    display: none;
  }
}
