.login-bottom {
  background: #edf0f5;
  padding-bottom: 30px;
}

.login-bottom-container {
  padding-top: 20px;
  padding-bottom: 20px;
  width: 980px;
  margin: 0 auto;
}

.login-description {
  width: 565px;
  float: left;
  font-family: 'Freight Sans Bold', Helvetica, Arial, sans-serif ;

}

.signup-form {
  width: 406px;
  float: right;
  margin-bottom: 20px;
  font-family: 'Freight Sans Bold', Helvetica, Arial, sans-serif ;

}

.signup-form input,
.signup-form textarea {
  background: white;
}

.login-description h2 {
  width: 450px;
  font-size: 28px;
  font-weight: 600;
  line-height: 34px;
  padding-top: 42px;
  padding-bottom: 24px;
}


.login-description-item {
  font-size: 15px;
  margin-top: 20px;
  padding-bottom: 10px;
  color: #666;
  position: relative;
}

.login-description-item p {
  vertical-align: middle;
  position: absolute;
  top: 15px;
  left: 70px;
}

.login-description-item strong {
  font-size: 17px;
  font-weight: bold;
  color: #333;
  margin-right: 10px;
}

.login-description-item .material-icons {
  float: left;
  color: #b7c2d7;
  font-size: 48px;
  text-shadow: 1px 1px #7b90b6;
}

.signup-form {
  /*border-bottom: 1px solid #dddfe2;*/
}

.signup-form h1 {
  font-size: 36px;
  font-weight: 600;
  font-family: 'Freight Sans Bold', Helvetica, Arial, sans-serif !important;
  margin-bottom: 9px;
}

.signup-form form {
  margin-top: 23px;
}

.signup-form h3 {
  font-size: 20px;
  font-weight: 300;
  margin-bottom: 5px;
}

.signup-form input {
  width:380px;
  padding: 10px 12px;
  font-size: 18px;
  border: 1px solid rgb(189, 199, 216);
  border-radius: 5px;
  margin-bottom: 8px;
}

.signup-form select {
  font-size: 13px;
  height: 30px;
  padding: 5px;
  border: 1px solid #bdc7d8;
  float: left;
}

.birthday {
  margin-bottom: 10px;
  position: relative;
}

.birthday aside {
  font-size: 11px;
  line-height: 13px;
  width: 150px;
  float: left;
  margin-top: 2px;
  margin-left: 10px;
}

.signup-form a {
  color: #365899;
  text-decoration: none;
}

.birthday a:hover {
  text-decoration: underline;
}

.signup-form .namehalf {
  width: 170px;
}

.input-container {
  position: relative;
  float: left;
  display: block;
}

.lastname-container {
  float: right;
}

.error-popup {
  position: absolute;
  top: 10px;
  right: 10px;
  font-size: 12px;
  color: red;
}

.birthday-errors {
  top: 0px;
}

.gender-errors {
  top: -5px;
}

.genderselect {
  display: block;
  position: relative;
  font-size: 18px;
  padding-bottom: 10px;
}

.genderselect input {
  width: auto;
}

.genderselect label {
  margin-right: 20px;
    vertical-align: baseline;;
}

.confirm aside {
  font-size: 11px;
  color: #777;
  line-height: 15px;
  width: 310px;
}

.confirm aside a:hover {
  text-decoration: underline;
}

.signup-button-container {
  width: 152px;
}

.confirm .signup-button {
  margin-top: 20px;
  margin-bottom: 20px;

  text-align: center;
  width: 152px;
  height: 23px;
  padding: 7px 20px;
  font-size: 19px;
  font-weight: 500;
  color: white;

  background: linear-gradient(#67ae55, #578843);
  background-color: #69a74e;
  border-color: #2c5115;
  box-shadow: inset 0 1px 1px #a4e388;
  border-radius: 5px;
  text-shadow: 1px 1px black;
}

.confirm .signup-button:hover {
  background: linear-gradient(#79bc64, #578843);
  cursor: pointer;
}

.celeb-place {
  font-size: 13px;
  font-weight: bold;
}

.celeb-place a:hover {
  text-decoration: underline;
}


@media only screen and (max-width: 980px) {
  .login-description {
    display: none;
  }

  .login-bottom-container {
    width: 100%;
  }

  .signup-form {
    float: none;
    margin: 0 auto;
  }
}
